doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Foto
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
  body
    block content
